.partner {
  background: #292929;
}
.partner__pic {
  float: right;
}
.info__title {
  padding-top: 100px;
  font-family: Bitter;
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.info__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.partner__button{
  border-radius: 8px;
  background: #3663EF;
}
.partner__button-btn {
  padding: 20px 40px 20px 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}